.home-section{
  height: auto;
  text-align: center;
  margin-top: 60px;
  color: aliceblue;
  font-family: roboto, arial;
  background-color: #0b0f1a; 
  padding: 20px 40px;
}

h1{
  font-size: 45px;
  margin-bottom: 20px;
  color: #00f2fe; 
}

.home-section p{
  font-size: 18px;
  line-height: 1.6;
  color: #c0c0c0; 
}


@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home-section-buttons-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  align-items: center;
}
.view-projects-button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(-45deg, #313333, #0ff, #030a0a);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  } .external-icon{
    width: 25px;
  }
.contact-me-button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(-45deg, #313333, rgb(25, 34, 34), #030a0a);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #0ff;
  } .contact-icon{
    width: 22px;
  }
.scroll-down-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-down-text{
  font-size: 100px;
}

.scroll-down-icon {
  width: 30px;
  animation: bounceUpDown 1.8s infinite ease-in-out;
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media(max-width: 768px){
  .home-section-buttons-container{
    flex-direction: column;
  }
  .scroll-down-container{
  margin-top: 70px;
  }
  .home-section{
    padding: 20px;
  }
}