.experience-section {
  padding: 80px 20px;
  background-color: #161920;
  color: aliceblue;
  text-align: center;
}

.experience-section h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.experience-container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.experience-item {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(0, 242, 254, 0.2);
  border-radius: 12px;
  padding: 25px;
  text-align: left;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 242, 254, 0.2);
}

.experience-item h3{
  color: #00f2fe;
  margin-bottom: 5px;
  font-size: 22px;
}

.company-name{
  font-weight: 500;
  color: #c0c0c0;
  margin-bottom: 3px;
}

.duration{
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

.responsibilities{
  padding-left: 20px;
}

.responsibilities li{
  margin-bottom: 10px;
  color: #d1d1d1;
  line-height: 1.5;
}